*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header{
    background-color: rgb(233, 124, 15);
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo{
    height: 45px;
}

main{
    padding-top: 40px;
    padding-bottom: 40px;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.row{
    width: 100%;
    display: flex;
    gap: 10px 10px;
    flex-wrap: wrap;
}

.col-33{
    width: calc(100% / 3 - 10px);
    background-color: rgb(255, 255, 255);  
}

.price-red{
    color: red;
}

img{
    max-width: 100%;
}

.show{
    display: block;
}

.hidden{
    display: none;
}

.product:hover .show{
    display: none;
}

.product:hover .hidden{
    display: block;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.discount{
    color: white;
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 100px;
}

.banner{
    color: white;
    padding: 5px;
    position: absolute;
    left: 50px;
    bottom: 100px;
}

.banner-2{
    color: white;
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 100px;
}

.product{
    position: relative;
}

.heart{
    background-color: white;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 10px;
}

.icons{
    color: white;
}

